@media screen and (min-width: 1000px ) and (max-width:2500px){
    html{
        font-size:20%; 
    }
}
@media screen and (min-width: 2501px ) {
    html{
        font-size:62.5%; 
    }
}


body{
    width:100%;
    height:calc(100vh);
    font-family: 'Microsoft YaHei';
    overflow: hidden;
    background-color: #f5f5f5;
    font-size: 1rem;
}
*{
    border: 0px;
} 
li{
    list-style: none;
}
#MainBody{
    width: 100%;
    height: 100%;
    background: url('../img/background.jpg');
    background-size: 100% 100%;
    background-color: rgba(9, 23, 84, 0.66);
    background-blend-mode: multiply;
}
.headline{
    width: 100%;
    height: 6%;
}
.HeadPatternLeft{
    width: 44%;
    height: 30px;
    margin-top:1%;
    border-right: 2px solid rgba(55,128,337);
}
.LineBody{
    width: 100%;
    height: 2px;
    margin-top:2%;
    background-color:rgba(55,128,337);
}
.HeadPatternRight{
    width: 39%;
    height: 30px;
    margin-top:1%;
    border-left: 2px solid rgba(55,128,337);
}
.HeadTile{
    color:rgba(84, 246, 252, 1);
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

.MiddleContentBody{
    width: 100%;
    height: 63%;
    display: flex;
}
.MiddleLeft{
    width: 28%;
    height: 100%;
    padding:5px;
}
.MiddleMain{
    flex:1;
    width: 44%;
    height: 100%;
    padding:5px;
}
.MiddleRight{
    width: 28%;
    height: 100%;
    padding:5px;
}
.BottomBody{
    width:100%;
    height: 30%;
    margin-top: 1%;
}
.MiddleLeftTop{
    width: 100%;
    height: 50%;
    /* background-color: rgba(95,92,134,0.1); */
    margin-top: 1%;
    border: 1px solid rgba(55,128,337);
    box-shadow:  7px 12px rgba(0, 0, 0, .4),
    -7px -7px 12px rgba(255, 255, 255, .9),
    inset 0 0 0x rgba(255, 255, 255, .9),
    inset 0 0 0 rgba(0, 0, 0, .4);
}
.BottomLeftBody{
    /* background-color: rgba(9, 23, 84, 0.66); */
    border: 1px solid rgba(55,128,337);
    width: 50%;
    height: 90%;
}
.BottomRightBody{
    /* background-color: rgba(9, 23, 84, 0.66); */
    border: 1px solid rgba(55,128,337);
    width: 49%;
    height: 90%;
    margin-left: 1%;
}
.MiddleTopBody{
    width: 98%;
    height: 10%;
    margin:0 auto;
}
.MiddleMainContent{
    width: 100%;
    margin:0 auto;
    height: 89%;
    margin-top:1%;

}
.MiddleRightTitle{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background-color: rgba(0, 137, 255, 1);
    width: 40%;
    padding:3px;
    text-align: center;
}
.MiddleRightContent{
    width: 98%;
    margin:0 auto;
    margin-top:2%;
    height: 96%;
}
.MiddleTopHeadline{
    width: 100%;
    height: 10%;
}
.MiddleContent{
    height: 88%;
    width: 98%;
    /* background-color: rgba(9, 23, 84, 0.66); */
    border: 1px solid rgba(55,128,337);
    box-shadow: 4px,4px,15px, rgba(55,128,337);
}
.ContentBody{
    height: 80%;
    width: 24%;
    line-height: 40px;
    /* background-color: rgba(17, 97, 134, 1); */
    background: url('../img/Section.png');
    background-size: 100% 100%;
    color:#fff;
    /* border: 1px solid rgba(17, 97, 134, 1); */
    font-size: 17px;
    border-radius: 5px;
    margin-left:1%;
    text-align: center;
}
.MiddleMainTopTitle{
    height: 12%;
    width: 100%;
}
.MiddleMainBottonContent{
    height: 88%;
    width: 98%;
    margin:0 auto;
    margin-top:1%;
    /* background-color: rgba(9, 23, 84, 0.66); */
    border: 1px solid rgba(55,128,337);
}
.MiddleThemeR{
    height: 95%;
    width: 33%;
    /* background-color: rgba(9, 23, 84, 0.66); */
    font-size: 17px;
    color:rgba(210, 79, 131, 1);
    text-align: center;
    padding-top:10px;
}
.MiddleThemeY{
    height: 95%;
    width: 33%;
    /* background-color: rgba(9, 23, 84, 0.66); */
    font-size: 17px;
    color:rgba(255, 255, 64, 1);
    text-align: center;
    padding-top:10px;
}
.MiddleThemeG{
    height: 95%;
    width: 33%;
    /* background-color: rgba(9, 23, 84, 0.66); */
    font-size: 17px;
    color:rgba(28, 191, 62, 1);
    text-align: center;
    padding-top:10px;
}
#DataProductionBody{
    width: 100%;
    margin-top:20px;
    min-height: 280px;
    max-height: 360px;
}
#DataConsumptionBody{
    width: 100%;
    margin-top:20px;
    min-height: 280px;
    max-height: 360px;
}
#DomainResolution{
    width: 100%;
    margin-top:20px;
    min-height: 380px;
    max-height: 430px;
}
#DomainRequest{
    width: 100%;
    height: 210px;
    margin-top:20px;
}
#DomainNxdomain{
    width: 100%;
    height: 210px;
}
.DataStatistics{
    text-align: center;
    margin-top:8%;
    color:#fff;
    font-size:20px
}
#AbnormalInfo{
    width:95%;
    min-height: 200px;
    max-height: 300px;
}
.AbnormalTitle{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background-color: rgba(0, 137, 255, 1);
    width: 40%;
    padding:3px;
    margin-top:10px;
    text-align: center;
    margin:0 auto;
}
#NodeOperation{
    width: 100%;
    min-height: 240px;
    max-height: 310px;
}
.AbnormalStatus{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background-color: rgba(0, 137, 255, 1);
    width: 20%;
    padding:3px;
    margin-top:-20px;
    text-align: center;
    z-index: 99;
}
.DNSDataStatisticsTitle{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    background-color: rgba(0, 137, 255, 1);
    width: 15%;
    padding:3px;
    margin-top:-20px;
    position: absolute;
    z-index:99;
    margin-left:5%;
    text-align: center;
}
.ScienceBody{
    width: 20%;
    min-height: 30px;
    max-height: 50px;
    /* background-color: rgba(11, 4, 73, 0.65); */
    background: url('../img/Section.png');
    background-size: 100% 100%;
    color:#fff;
    text-align: center;
    font-size: 16px;
    margin-top:13px;
    margin-left:9%;
}